<!doctype html>
<html>
<head>
	<title>Mint Family</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52482944-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="background-color:#f2f9f6">
	<div class="container">
		<div class="text-center">
			<img src="img/mint_family.png" class="img-responsive" style="margin-left:auto; margin-right: auto;">
			<div class="row">
				<div class="col-md-4"> 
				</div>
				<div class="col-md-4"> 
					<br>
					<h2>Brought to you by</h2>
					<img src="img/intuit_labs.png" class="img-responsive" style="margin-left:auto; margin-right: auto;">
					<br>
					<form action="/beta" method="post">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" name="name" required>
						</div>
						<div class="form-group">
							<label>Your Email</label>
							<input type="email" class="form-control" name="email" required>
						</div>
						<button type="submit" class="btn btn-warning btn-lg">Signup for the Mint Family beta</button>
					</form>
					<br>
					<div style="font-size: 20px;"> Don't know what Mint is? <br>Learn more at <a href="https://www.mint.com/">mint.com</a> </div>
				</div>
				<div class="col-md-4"> 
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<h2> Be Independent </h2>
					<p> Manage your own money and spend responsibly without your parents.</p>
				</div>        
				<div class="col-md-4">
					<h2> How it Works </h2>
					<p> Connect your parents' credit card/bank accounts to your Mint account, set spending budgets, and track savings to meet your goals. </p>
				</div>
				<div class="col-md-4">
					<h2> Worry Less </h2>
					<p> Get daily alerts and suggestions on your spending habits to save more and buy the cool gear you want.
					</p>
				</div>
			</div>
		</div>
		<br><br>
	</div>
</body>
</html>