<!doctype html>
<html>
<head>
	<title>Mint Family</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body background="img/background.png">
<div class="container">
	<div class="text-center">
		<img src="img/mint_family.png" class="img-responsive" style="margin-left:auto; margin-right: auto;">
		<div class="row">
			<div class="col-md-4"> 
				<img src="img/pie_chart.png" class="img-responsive" style="margin-	
				left:auto;">
			</div>
			<div class="col-md-4"> 
				<br>
				<h2>Brought to you by</h2>
				<img src="img/intuit_labs.jpg" class="img-responsive" style="margin-left:auto; margin-right: auto;">
			</div>
			<div class="col-md-4"> 
				<img src="img/family.png" class="img-responsive" style="margin-right: auto;">
			</div>
		</div>
		<p>Login or Register with:</p>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
		<!-- <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a> -->
		<!-- <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a> -->
		<!-- <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a> -->
		<div class="row">
	        <div class="col-md-4">
	            <h2> Take Charge Of Your Family's Money </h2>
	            <p> Mint.com Family offers an easier and more efficient way to budget for the entire family.</p>
	        </div>        
	        <div class="col-md-4">
	            <h2> How it Works </h2>
	            <p> Connect family accounts to your Mint account, set transparent budgets for your family, and track spending and set goals for savings. </p>
	        </div>
	        <div class="col-md-4">
	            <h2> Teach your children about spending </h2>
	            <p> Set allowances and transfer funds to help your children learn about spending and budgeting.
				</p>
	        </div>
	    </div>
	</div>
</div>
</body>
</html>