<!doctype html>
<html>
<head>
	<title>Mint Family</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body style="background-color:#f2f9f6">
<div class="container">
	<a href="/signup" class="btn btn-default" style="float:right;"></span>Signup</a>
	<a href="/login" class="btn btn-default" style="float:right;"></span>Login</a>
	<div class="text-center">
		<img src="img/mint_family.png" class="img-responsive" style="margin-left:auto; margin-right: auto;">
		<div class="row">
			<div class="col-md-4"> 
				<img src="img/pie_chart.png" class="img-responsive" style="margin-	
				left:auto;">
			</div>
			<div class="col-md-4"> 
				<br>
				<h2>Brought to you by</h2>
				<img src="img/intuit_labs.png" class="img-responsive" style="margin-left:auto; margin-right: auto;">
			</div>
			<div class="col-md-4"> 
				<img src="img/family.png" class="img-responsive" style="margin-right: auto;">
			</div>
		</div>
		<hr>
		<div class="row">
	        <div class="col-md-4">
	            <h2> Take Charge Of Your Family's Money </h2>
	            <p> Mint.com Family offers an easier and more efficient way to budget for the entire family.</p>
	        </div>        
	        <div class="col-md-4">
	            <h2> How it Works </h2>
	            <p> Connect family accounts to your Mint account, set transparent budgets for your family, and track spending and set goals for savings. </p>
	        </div>
	        <div class="col-md-4">
	            <h2> Teach your children about spending </h2>
	            <p> Set allowances and transfer funds to help your children learn about spending and budgeting.
				</p>
	        </div>
	    </div>
	</div>
</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52482944-1', 'auto');
  ga('send', 'pageview');
</script>
</html>