<!doctype html>
<html>
<head>
	<title>Mint Family</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body style="background-color:#f2f9f6">
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-md-2">
			<br><br><br>
			<img src="img/mint_family.png" class="img-responsive" style="margin-left:auto; margin-right: auto;">
		</div>
		<div class="page-header text-center col-md-7">
			<br>
			<h1> Budget Page</h1>
		</div>
		<div class="col-sm-3 col-md-2">
			<br><br><br><br><br>
			Welcome, <%= user.local.email %>
		</div>
		<div class="col-sm-3 col-md-1">
			<br><br><br><br><br><br>
			<a href="/logout">Logout</a>
		</div>
	</div>
	<ul class="nav nav-tabs">
	    <li><a href="/profile">Account</a></li>
	    <li class="active"><a href="/subuser_budgets">Budgets</a></li>
	    <li><a href="/subuser_goals">Goals</a></li>
	    <li><a href="/subuser_family">Family</a></li>
	</ul>
	<div class="row" style="background-color:white">
		<h3>Budget Stuff</h3>
	</div>
</div>
</body>
</html>