<!doctype html>
<html>
<head>
	<title>Mint Family</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body background="img/background.png">
Welcome, <%= user.local.email %>
<div class="container">
	<div class="page-header text-center">
		<h1> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
	<ul class="nav nav-tabs">
	    <li><a href="/profile">Accounts</a></li>
	    <li class="active"><a href="/subuser_budgets">Budgets</a></li>
	    <li><a href="/subuser_goals">Goals</a></li>
	    <li><a href="/subuser_family">Family</a></li>
	</ul>
	<div class="row">
		<h3>Budget Stuff</h3>
	</div>
</div>
</body>
</html>